<div class="breadcrumb-area">
    <div class="container h-100">
        <div class="row h-100 align-items-end">
            <div class="col-12">
                <div class="breadcumb--con">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/"><i class="fa fa-home"></i> Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/guides"><i class="fa fa-book"></i> Guides</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <%= page.title %>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-bg-curve">
        <img src="/img/core-img/curve-5.png" alt="" />
    </div>
</div>

<%- page.content %>

<% if (page.related_guides) { %>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="related-news-area">
                <h2 class="mb-4">Related Guides</h2>
                <div class="row">
                    <%
                    // Performance optimisation
                    const postsBySlug = {};
                    for (const post of site.posts.toArray()) {
                        postsBySlug[post.slug] = post;
                    }
                    %>

                    <% for (const slug of page.related_guides) { 
                        const relatedGuide = postsBySlug[slug];

                        if (!relatedGuide) throw new Error(`Couldn't find related guide '${slug}' from frontmatter.`);
                    %>
                    <div class="col-12 col-lg-4">
                        <div class="single-blog-post bg-img mb-80"
                            style="background-image: url(<%= relatedGuide.featured_image %>);">
                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="<%= relatedGuide.path %>" class="post-title"><%= relatedGuide.title %></a>
                                <p><%= relatedGuide.excerpt %></p>
                                <a href="<%= relatedGuide.path %>" class="read-more-btn">
                                    Read More <i class="arrow_carrot-2right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>