<head>
  <%- partial('google-analytics') %>
  <meta charset="UTF-8" />
  <% if (config.description) { %>
  <meta name="description" content="<%- config.description %>" />
  <% } %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta charset="utf-8">

  <title><%= config.title ? config.title : 'SET TITLE' %></title>

  <% if (theme.favicon) { %>
  <link rel="icon" href="<%- theme.favicon %>">
  <% } %>

  <%- css('css/style') %>
</head>